<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}Dress Up{% endblock %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/solid.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/brands.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.sammdot.ca/fonts/BasierSquare.css" type="text/css">
{% block head %}
{% endblock %}
</head>
<body>
<header>
  <div class="logo">
    <i class="fa-solid fa-square-poll-vertical"></i>
    <div>
      <div class="title">DressUp!</div>
      <div class="subtitle"><a href="https://github.com/jenchanws/f1nndressup">by LittleChaSiu</a></div>
    </div>
  </div>
  <div class="spacer"></div>
  {% if session %}
    {% if session["type"] == "streamer" %}
      <i class="icon streamer fa-solid fa-video"></i>
    {% elif session["type"] == "moderator" %}
      <i class="icon moderator fa-solid fa-shield-halved"></i>
    {% endif %}
    <div class="username">{{ session["username"] }}</div>
    <a class="button" href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
  {% else %}
    <a class="button twitch" href="/login"><i class="fa-brands fa-twitch"></i> Login with Twitch</a>
  {% endif %}
</header>
{% block content %}
{% endblock %}
<script type="text/javascript">
const streamUrl = "{{ url_for("sse.stream") }}"
</script>
<script type="text/javascript" src="/static/dressup.js"></script>
</body>
</html>
