{% extends "base.html.j2" %}

{% block content %}
<main>
  {% if current_poll %}
    {% with poll = current_poll.info(), current = True, can_vote = can_vote %}
      {% include "poll.html.j2" %}
    {% endwith %}
  {% else %}
    {% if last_poll %}
      {% with poll = last_poll.info(), current = False, can_vote = False %}
        {% include "poll.html.j2" %}
      {% endwith %}
    {% endif %}
    {% if is_admin %}
    <p class="container footer">
      <a class="button" href="/create">Create Poll</a>
      <a class="button" href="/admin">Edit Options</a>
    </p>
    {% endif %}
  {% endif %}
</main>
{% endblock %}
