{% if current %}
<div class="countdown">
Poll ends in <span id="time-left"></span>
</div>
<script type="text/javascript">
const endTime = new Date("{{ poll["end_time"].isoformat() }}")
</script>
{% endif %}
{% if can_vote %}
<form action="/vote" method="POST" class="container">
{% else %}
<div class="container">
{% endif %}
  <div class="poll">
  {% for cat_id, (category, options) in poll["poll"].items() %}
    <div class="category">
    <h4>{{ category }}</h4>
    {% for (option, count, percent) in options %}
      <input type="radio" name="category-{{ cat_id }}" id="option-{{ cat_id }}-{{ loop.index }}" value="{{ option }}">
      <label for="option-{{ cat_id }}-{{ loop.index }}">
        <div class="percent-bar" style="width: {{ percent }}%;"></div>
        <span class="label">
          <span class="option-name">{{ option }}</span>
          <span class="option-stats">
            (<span class="option-count">{{ count }}</span> /
            <span class="option-percent">{{ percent }}</span>%)</span>
          </span>
      </label>
    {% endfor %}
    </div>
  {% endfor %}
  </div>
  <div class="poll-meta">
    {% if current %}
      Poll started {{ poll["start_time"].strftime("%c") }}
      {% if is_admin %}
        by {{ poll["started_by"] }}
      {% endif %}
    {% else %}
      Poll ended {{ poll["end_time"].strftime("%c") }}
    {% endif %}
  </div>
{% if current and is_admin %}
  <form action="/end" method="POST" class="container">
    <button type="submit">End Poll</button>
  </form>
{% endif %}
{% if can_vote %}
  <button type="submit">Vote</button>
</form>
{% else %}
</div>
{% endif %}
