* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-size: 18px;
}

:root {
  --max-width: 960px;

  --twitch: #9146ff;
  --moderator: #27ac29;
  --streamer: #e42624;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #333333;
    --fg: white;

    --btn-bg: #666666;
    --btn-bg-hover: #444444;
    --btn-fg: white;

    --submit: #72b7e8;
    --submit-hover: #3d9adb;

    --option-bg: #555555;
    --option-bg-hover: #777777;
    --option-bg-selected: #72b7e8;
    --option-fg-selected: white;
    --option-border: none;
    --option-border-selected: none;

    --vote-option-bg: #555555;
    --vote-option-bg-hover: #777777;
    --vote-option-bg-selected: #72b7e8;
    --vote-option-percent-bg: #777777;
    --vote-option-percent-bg-hover: #55b1f2;
    --vote-option-percent-bg-selected: #0394fc;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --bg: #f0f0f0;
    --fg: black;

    --btn-bg: #a0a0a0;
    --btn-bg-hover: #c0c0c0;
    --btn-fg: white;

    --submit: #0394fc;
    --submit-hover: #55b1f2;

    --option-bg: white;
    --option-bg-hover: #cccccc;
    --option-bg-selected: #0394fc;
    --option-fg-selected: white;
    --option-border: black;
    --option-border-selected: #0394fc;

    --vote-option-bg: white;
    --vote-option-bg-hover: #a6d6f8;
    --vote-option-bg-selected: #89c9f6;
    --vote-option-percent-bg: #cccccc;
    --vote-option-percent-bg-hover: #55b1f2;
    --vote-option-percent-bg-selected: #0394fc;
  }
}

body {
  padding: 20px;
  font-family: BasierSquare;

  color: var(--fg);
  background-color: var(--bg);
}

header,
main {
  max-width: var(--max-width);
  margin: auto;
}

header {
  display: flex;
  align-items: center;
}

main {
  padding-top: 20px;
  text-align: center;
  min-height: calc(100% - 100px);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

form {
  text-align: left;
}

p {
  margin: 8px 0;
}

.spacer {
  flex-grow: 1;
}

.logo {
  display: flex;
}

.logo i {
  font-size: 3rem;
  margin-right: 12px;
}

.logo .title {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: bold;
}

.logo .subtitle {
  margin-top: -0.4rem;
}

.logo .subtitle a {
  color: var(--text);
  font-size: 0.8rem;
  text-decoration: none;
}

.logo .subtitle a:hover {
  text-decoration: underline;
}

header .icon {
  padding: 6px;
  border-radius: 4px;
  color: white;
}

.icon.streamer {
  background-color: var(--streamer);
}

.icon.moderator {
  background-color: var(--moderator);
}

.username {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 8px;
}

.button,
button {
  display: inline-block;
  padding: 3px 8px;
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  background-color: var(--btn-bg);
  color: var(--btn-fg);
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
}

button {
  padding: 4px 9px;
}

.button:hover,
button:hover {
  background-color: var(--btn-bg-hover);
  cursor: pointer;
}

.button.twitch {
  background-color: var(--twitch);
  color: white;
  padding: 8px 10px;
  border-radius: 6px;
}

.button.twitch i {
  font-size: 1.2rem;
  margin-right: 2px;
  transform: translateY(2px);
}

.categories {
  display: flex;
  flex-flow: row wrap;
  margin-left: -6px;
  margin-right: -6px;
}

.categories input[type="checkbox"] {
  display: none;
}

.categories label {
  flex-basis: 230px;
  border: 1px solid var(--option-border);
  background-color: var(--option-bg);
  padding: 12px 16px;
  border-radius: 6px;
  font-size: 0.9rem;
  margin: 6px;
  opacity: 70%;
}

.categories label:hover {
  background-color: var(--option-bg-hover);
  cursor: pointer;
}

.categories input[type="checkbox"]:checked + label {
  color: var(--option-fg-selected);
  background-color: var(--option-bg-selected);
  border-color: var(--option-border-selected);
  opacity: 100%;
}

.categories label > div {
  font-size: 1.1rem;
}

.duration {
  display: flex;
  margin: 30px auto;
}

.duration input[type="radio"] {
  display: none;
}

.duration label {
  border: 1px solid var(--option-border);
  border-right-width: 0;
  background-color: var(--option-bg);
  padding: 8px 12px;
  font-size: 0.9rem;
  margin: 0;
}

.duration input[type="radio"]:first-child + label {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.duration label:last-child {
  border-right-width: 1px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.duration label:hover {
  background-color: var(--option-bg-hover);
  cursor: pointer;
}

.duration input[type="radio"]:checked + label {
  color: var(--option-fg-selected);
  background-color: var(--option-bg-selected);
}

form .footer {
  margin-top: 30px;
}

form .footer > * {
  margin-right: 8px;
}

button[type="submit"] {
  background-color: var(--submit);
}

button[type="submit"]:hover {
  background-color: var(--submit-hover);
}

.container {
  text-align: left;
}

.poll {
  margin: 30px -20px;
  display: flex;
  flex-flow: row wrap;
  user-select: none;
  -webkit-user-select: none;
}

.poll .category {
  position: relative;
  flex-basis: 450px;
  margin: 20px 20px;
}

.poll .category h4 {
  margin: 0;
  padding-bottom: 8px;
  font-size: 1.1em;
}

.poll input[type="radio"] {
  display: none;
}

.poll label {
  position: relative;
  display: block;
  height: 2rem;
  background-color: var(--vote-option-bg);
  border-radius: 4px;
  margin-bottom: 12px;
}

.poll label .option-stats {
  font-size: 0.9rem;
}

.poll label .percent-bar {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 2rem;
  background-color: var(--vote-option-percent-bg);
  border-radius: 4px;
  transition: width 0.5s ease-in-out 0s;
}

.poll label .label {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  line-height: 2rem;
  padding-left: 8px;
}

form .poll label:hover {
  background-color: var(--vote-option-bg-hover);
  cursor: pointer;
}

form .poll label:hover .percent-bar {
  display: none;
}

form .poll input:checked + label {
  background-color: var(--vote-option-bg-selected);
  cursor: pointer;
}

form .poll input:checked + label .percent-bar {
  display: none;
}

.poll-meta {
  font-size: 0.9rem;
  text-align: left;
  color: var(--btn-bg);
  font-style: italic;
  margin-top: -20px;
  margin-bottom: 30px;
}
